# Environment variables for docker-compose command
GITHUB_API_TOKEN=https://github.com/settings/tokens

# Runtime settings

## Database
MYSQL_USER=urlshorteneruser
MYSQL_PASSWORD=yii2shortenerpassword
MYSQL_DATABASE=yii2shortener
MYSQL_TABLE_PREFIX=yii2_
MYSQL_ROOT_PASSWORD=mysqlRootPassword

## Xdebug (calling the xdebug.remote_host on 9005 port)
PHP_ENABLE_XDEBUG=0
PHP_IDE_CONFIG=yii2shortener
